
<div class="container">
	<div class="row">
	<!-- Contenedor Principal -->
    <div class="comments-container">

		<h1>Volunteer application </h1>

		<ul id="comments-list" class="comments-list">
			<li>
				<div class="comment-main-level">
				<% Participant.where(event_id: @Ievent.id).each do |y| %>
					<!-- Avatar -->
					 <!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							<h6 class="comment-name by-author">"<%=y.name%></h6>
							<span><%= y.created_at.strftime("%d/%m/%Y %I:%M %p") %> </span>
							<i class="fa fa-pencil-square-o "></i>

							
							<i class=" fa fa-comment "></i>	

						</div>
						<% if current_user.present? && current_user.samaritan?%>
						<%if current_user.email== @Ievent.coordinator_name %>
						<div class="comment-content">
							<%=y.address%><br>
							<%=y.phone%>
						</div>
						<%end%>
						<%end%>
					</div>
					<%end%>

				</div>
				
			</li>
		</ul>
	</div>
	</div>
	</div>

